* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.App {
  display: flex;
}

.left-container {
  background-color: whitesmoke;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-container > h1 {
  padding: 20px 0;
}

.right-container {
  background-color: whitesmoke;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-container > h1 {
  padding: 20px 0;
}

.right-container > .add-container {
  background-color: olive;
}

.right-container > .background-container {
  background-color: #81815f;
}

.add-container {
  background-color: royalblue;
  height: 350px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-container > input {
  width: 80%;
  margin: 10px;
}

.add-container > img {
  height: 230px;
}

.button-container {
  display: flex;
}

.button-container > button {
  margin: 0 10px;
}

.background-container {
  background-color: #7d9eff;
  height: 350px;
  width: 90%;
  margin: 20px 0;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.meme-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meme-container > input {
  width: 80%;
  margin: 10px;
}

.meme-container > img {
  height: 230px;
}

.meme-container > .spread {
  margin-top: 10px;
}

.meme-container > h2 {
  padding: 10px 0;
}